<!DOCTYPE html>
<html>
{% head.html %}

<body>
    <!-- Page Container -->
    <div class="w3-content w3-margin-top">
        <!--The Grid-->
        <div class="w3-row-padding">
            <!-- Left Column -->
            {% profile.html %}
            <!-- End Left Column -->

            <!-- Right Column -->
            <!-- <div class="w3-rest"> -->
            <div class="w3-threequarter">
                {% navigator.html %}

                <div class="container w3-margin-bottom">
                    <h5>About Me</h5>
                    <div class="container left_padding">
                        I am a PhD student in the Department of Computer Science at Duke University since 08/2019.
                        I am working with
                        <a href="https://users.cs.duke.edu/~xwy/" target="_blank">Prof. Xiaowei Yang</a>
                        on computer networks and distributed systems.
                        <br />
                        <br />
                        I graduated from Fudan University in 2019 with a B.S. in Computer Science.
                        At Fudan, I worked with
                        <a href="http://chenyang03.wordpress.com/" target="_blank">Prof. Yang Chen</a>
                        on measurement and analysis of mobile networks in Mobile Systems and Networking Group.
                    </div>
                </div>
                <br />

                <div class="container w3-margin-bottom">
                    <h5>Education</h5>
                    <div class="container left_padding">
                        <div>
                            <b>Duke University</b>, Durham, NC,
                            US&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;08/2019 - Present</div>
                        <div>&nbsp;&nbsp;
                            <i>PhD student</i> in Computer Science</div>
                        <div>&nbsp;&nbsp;Advisor:
                            <a href="https://users.cs.duke.edu/~xwy/" target="_blank">Xiaowei Yang</a>
                        </div>
                    </div>
                    <br />

                    <div class="container left_padding">
                        <div>
                            <b>Fudan University</b>, Shanghai,
                            China&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;09/2015 - 06/2019</div>
                        <div>&nbsp;&nbsp;
                            <i>Undergraduate</i> in Computer Science, Honor Class</div>
                        <div>&nbsp;&nbsp;Overall GPA: 3.56/4.0,&nbsp;&nbsp;Ranking: 10/117,&nbsp;&nbsp;Marjor GPA: 3.75
                        </div>
                        <div>&nbsp;&nbsp;Advisor:
                            <a href="http://chenyang03.wordpress.com/" target="_blank">Yang Chen</a>
                        </div>
                    </div>
                    <!-- <br /> -->

                    <!-- 
                    <div class="container left_padding">
                        <div>
                            <b>Virginia Tech</b>, Blacksburg, VA,
                            US&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;07/2018 - 09/2018</div>
                        <div>&nbsp;&nbsp;
                            <i>Research Intern</i> in Systems and Cybersecurity Group</div>
                        <div>&nbsp;&nbsp;Advisor:
                            <a href="http://people.cs.vt.edu/gangwang/" target="_blank">Gang Wang</a>
                        </div>
                    </div>
                    <br />

                    <div class="container left_padding">
                        <div>
                            <b>Peking University</b>, Beijing,
                            China&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;07/2017 - 09/2017</div>
                        <div>&nbsp;&nbsp;
                            <i>Research Intern</i> in Software-Hardware Orchestrated Architecture Group</div>
                        <div>&nbsp;&nbsp;Advisor:
                            <a href="https://www.cs.cmu.edu/~chenren/" target="_blank">Chenren Xu</a>
                        </div>
                    </div> 
                    -->
                </div>
                <br />


                <div class="container w3-margin-bottom">
                    <h5>Publications</h5>

                    <div class="container left_padding">
                        <div>
                            <b>An Empirical Study of the Usage of the Swarm App's Cross-Site Sharing Feature</b>
                        </div>
                        <div>
                            <b>Shihan Lin</b>, Rong Xie, Yang Chen, Yu Xiao, Pan hui
                        </div>
                        <div>
                            Proc. of the Workshop on Mining and Learning from Smartphones Apps for Users (AppLens'18),
                            UbiComp 2018
                        </div>
                        <div>
                            <a href="https://doi.org/10.1145/3267305.3274170" target="_blank">PDF</a>
                            &nbsp;&nbsp;
                            <a href="./files/UbiComp18_ShihanLin.pptx" target="_blank">Slides</a>
                        </div>
                    </div>
                    <br />

                    <div class="container left_padding">
                        <div>
                            <b>LBSLab: A User Data Collection System in Mobile Environments</b>
                        </div>
                        <div>
                            Qingyuan Gong, Xinlei He, Qinge Xie,
                            <b>Shihan Lin</b>, Guozhen She, Ruiyu Fang, Rui Han, Yang Chen, Yu Xiao, Xiaoming Fu, Xin
                            Wang
                        </div>
                        <div>
                            Proc. of the Workshop on Mobile Human Contributions: Opportunities and Challenges (MHC'18),
                            UbiComp 2018
                        </div>
                        <div>
                            <a href="https://doi.org/10.1145/3267305.3267546 " target="_blank">PDF</a>
                        </div>
                    </div>
                    <br />

                    <div class="container left_padding">
                        <div>
                            <b>Understanding Skout Users’ Mobility Patterns on a Global Scale: A Data-Driven Study</b>
                        </div>
                        <div>Rong Xie, Yang Chen,
                            <b>Shihan Lin</b>, Tianyong Zhang, Yu Xiao, Xin Wang
                        </div>
                        <div>
                            World Wide Web Journal (WWWJ), Springer, 2018
                        </div>
                        <div>
                            <a href="https://doi.org/10.1007/s11280-018-0551-8" target="_blank">PDF</a>
                        </div>
                    </div>
                    <br />

                    <div class="container left_padding">
                        <div>
                            <b>Understanding User Activity Patterns of the Swarm App: A Data-Driven Study</b>
                        </div>
                        <div>
                            <b>Shihan Lin</b>, Rong Xie, Qinge Xie, Hao Zhao, Yang Chen
                        </div>
                        <div>
                            Proc. of UbiComp 2017, Poster Session
                        </div>
                        <div>
                            <a href="https://doi.org/10.1145/3123024.3123086" target="_blank">PDF</a>
                        </div>
                    </div>
                    <!-- <br /> -->

                    <!-- 
                    <div class="container left_padding">
                        <div>
                            <b>Peeking Over the Edge: Spoofing the Cloud Service of SmartHome Assistant Systems</b>
                        </div>
                        <div>
                            Hang Hu, Limin Yang, <b>Shihan Lin</b>, Gang Wang
                        </div>
                        <div>
                            Submitted to S&P 2020
                        </div>
                    </div> 
                    -->
                </div>
                <br />

                <div class="container w3-margin-bottom">
                    <h5>Award</h5>
                    <div class="container left_padding">
                        <div>
                            <i>Meritorious Winner</i>, Mathematical Contest in Modeling, 2018</div>
                        <div>
                            <i>First Prize</i>, Fudan Collegiate Programming Contest, 2017</div>
                        <div>
                            <i>Second Prize</i>, Scholarship for Students in Honor Class, 2017</div>
                        <div>
                            <i>Second Prize</i>, Scholarship for OutStanding Students, 2016, 2018</div>
                        <div>
                            <i>First Prize</i>, National Olympiad in Informatics in Provinces. 2014</div>
                    </div>
                </div>
                <br />

                {% update.html %}

                <!-- End Right Column -->
            </div>

            <!-- End Grid -->
        </div>
        <!-- End Page Container -->
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
    {% statcounter.html %}
</body>

</html>