<div class="w3-quarter">
        <div class="w3-margin-bottom">
            <div class="w3-display-container w3-margin-bottom">
                <img src="./img/avatar1.jpg" class="" style="width:80%;border-radius:8px" alt="Avatar">
            </div>

            <div style="font-size: 22px; font-weight: bold">Shihan Lin</div>
            <div style="font-size: 22px; font-weight: bold">林士翰</div>
            <div style="font-size: 16px">
                PhD Student
            </div>
            <div style="font-size: 16px">
                Department of Computer Science
            </div>
            <div style="font-size: 16px">
                Duke University
            </div>

            <hr/>

            <div style="font-size: 18px">
                <i class="far fa-envelope"></i> lshzy137 at gmail.com
            </div>
            <div style="font-size: 18px">
                <i class="far fa-envelope"></i> shihan.lin at duke.edu
            </div>

            <div>
                <a class="font-awesome fab fa-google fa-2x" target="_blank" href="https://scholar.google.com/citations?user=rV6U1lwAAAAJ&hl=en&oi=ao">
                </a>
                &nbsp;
                <a class="font-awesome fab fa-github fa-2x" target="_blank" href="https://github.com/shiftlin">
                </a>
                &nbsp;
                <a class="font-awesome fab fa-linkedin-in fa-2x" target="_blank" href="https://www.linkedin.com/in/shihan-lin-862048162/">
                </a>
            </div>

            <!-- 
            <div>
                <a class="font-awesome" target="_blank" href="./CV_ShihanLin.pdf">
                    <i class="fas fa-paperclip"></i> CV
                </a>
            </div> -->

        </div>
</div>